<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @dataset.title %>
</p>

<p>
  <b>Description:</b>
  <%= @dataset.description %>
</p>

<p>
  <b>Department:</b>
  <%= @dataset.department %>
</p>

<p>
  <b>Sector:</b>
  <%= @dataset.sector %>
</p>

<p>
  <b>Link:</b>
  <%= @dataset.link %>
</p>


<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
