<h1>Listing term_items</h1>

<table>
  <tr>
    <th>Dataset</th>
    <th>Term</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @term_items.each do |term_item| %>
  <tr>
    <td><%= term_item.dataset_id %></td>
    <td><%= term_item.term_id %></td>
    <td><%= link_to 'Show', term_item %></td>
    <td><%= link_to 'Edit', edit_term_item_path(term_item) %></td>
    <td><%= link_to 'Destroy', term_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Term item', new_term_item_path %>
