<p id="notice"><%= notice %></p>

<p>
  <b>Dataset:</b>
  <%= @term_item.dataset_id %>
</p>

<p>
  <b>Term:</b>
  <%= @term_item.term_id %>
</p>


<%= link_to 'Edit', edit_term_item_path(@term_item) %> |
<%= link_to 'Back', term_items_path %>
